.brands-container{
  width: 100%;
  background-color: black;
}
.brands {
  max-width: 1440px; 
  margin: 0 auto; 
  padding: 10px 0;
  box-sizing: border-box; 
}

.brands-content {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0; 
  box-sizing: border-box; 
}

.brands img {
  width: 13%;
  aspect-ratio: 3/1;
  object-fit: contain;
}

@media (max-width: 768px) {
  .brands-content {
    display: flex;
    justify-content: space-around;
    max-width: 100%; 
  }

  .brands img {
    width: 15%; 
    aspect-ratio: 3/1;
    object-fit: contain;
  }
}
