@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto; 
  gap: 20px;
  position: relative;
}

.brand-section {
  flex: 1 1 30%; 
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.brand-section h1 {
  font-family: "Integral CF", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.brand-section h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4; 
  margin-bottom: 20px;
  color: #00000099;
}

.social-medias {
  display: flex;
  gap: 10px;
}

.social-medias  img:hover {
   transform: scale(1.1); 
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
   border-radius: 50px;
}


.footer-container-links {
  flex: 1 1 65%; 
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
}

.container-links-1, 
.container-links-2, 
.container-links-3, 
.container-links-4 {
  flex: 1;
  box-sizing: border-box; 
}

.footer-container-links h2 a{
  font-family: "Satoshi", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #00000099;
}

.footer-container-links h2 a:hover{
  text-decoration: underline;
}

.footer-container-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container-links li a{
  font-family: "Satoshi", sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
  color: #00000099;
}

.footer-container-links li a:hover{
  text-decoration: underline;
}

.footer-divider {
  border: none;
  border-top: 1px solid #dcdcdc;
  margin: 20px 0;
}

.footer-container-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container-cards h6 {
  font-size: 0.7rem;
  font-family: "Satoshi", sans-serif;
  margin: 0;
  color: #00000099;
  font-weight: 400;
}

.footer-container-cards-images {
  display: flex;
  gap: 0;
  justify-content: flex-end;
  align-items: center;
}

.footer-container-cards-images img {
  width: 50px; 
  height: 50px;
  margin: 0; 
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
    align-items: center; 
    gap: 30px; 
    padding: 20px; 
  }

  .brand-section {
    flex: none; 
    text-align: left; 
    margin-bottom: 30px;
    width: 100%; 
    max-width: 600px;
  }

  .brand-section h1 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
  }

  .brand-section h2 {
    font-size: 1rem; 
    margin-bottom: 15px; 
    line-height: 1.5; 
    display: block;
  }

  .social-medias {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .footer-container-links {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .container-links-1, .container-links-2, .container-links-3, .container-links-4 {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
  }
  
  .footer-container-links h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-container-cards {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }
  
  .footer-container-cards-images {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center;
  }
  
  .footer-container-cards-images img {
    width: 50px;
    height: 50px;
    margin: 0;
  }
}
