@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* Estilos gerais para a seção .main */
.main {
  width: 100%; /* Largura total */
  
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  display: flex; /* Usa flexbox para o layout */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo da .main-content */
.main-content {
  display: flex; /* Usa flexbox para o layout */
  width: 100%; /* Largura total */
  max-width: 1200px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilo da .text-content */
.text-content {
  flex: 1; /* Ocupa a largura disponível na .main-content */
  padding-right: 20px; /* Espaço entre o texto e a imagem */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  display: flex; /* Usa flexbox para o layout interno */
  flex-direction: column; /* Empilha elementos verticalmente */
  justify-content: center; /* Centraliza verticalmente o conteúdo */
}

/* Estilo do texto dentro da .text-content */
.text-wrapper {
  display: flex; /* Usa flexbox para o layout interno */
  flex-direction: column; /* Empilha elementos verticalmente */
  gap: 20px; /* Espaçamento entre os elementos */
}

.text-wrapper h1 {
  font-family: "Integral CF", sans-serif; /* Fonte do título */
  font-size: 3.9rem; /* Tamanho da fonte */
  line-height: 1.2; /* Altura da linha */
  margin-bottom: 20px; /* Margem inferior */
}

.text-wrapper h2 {
  font-size: 1rem; /* Tamanho da fonte */
  line-height: 1.4; /* Altura da linha */
  margin-bottom: 20px; /* Margem inferior */
  font-family: "Satoshi", sans-serif; /* Fonte do subtítulo */
  color: #00000099; /* Cor do texto */
  font-weight: 400; /* Peso da fonte */
}

.hero {
  font-size: 1rem; /* Tamanho da fonte do botão */
  padding: 15px 30px; /* Espaçamento interno */
  background-color: #000000; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remove borda */
  border-radius: 30px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
  margin-bottom: 20px; /* Margem inferior */
  width: 12rem; /* Largura do botão */
  transition: background-color 0.4s ease; /* Transição suave para a cor de fundo */
}

button:hover {
  background-color: #9da8b5; /* Cor de fundo ao passar o mouse */
}

.info-content {
  display: flex; /* Usa flexbox para o layout */
  gap: 10px; /* Espaçamento entre os itens */
  margin-top: 20px; /* Margem superior */
}

.info-content > div {
  padding: 15px; /* Espaçamento interno */
  background-color: #f0f0f0; /* Cor de fundo */
  text-align: left; /* Alinha o texto à esquerda */
  position: relative; /* Necessário para a linha vertical */
}

.info-content h2 {
  font-family: "Satoshi", sans-serif; /* Fonte do título */
  font-size: 2.5rem; /* Tamanho da fonte */
  font-weight: 700; /* Peso da fonte */
}

.info-content h3 {
  font-family: "Satoshi", sans-serif; /* Fonte do subtítulo */
  font-weight: 400; /* Peso da fonte */
  font-size: 0.9rem; /* Tamanho da fonte */
  color: #00000099; /* Cor do texto */
}

/* Linha vertical entre as divs da .info-content */
.info-content > div:not(:last-child)::after {
  content: ""; /* Cria um conteúdo vazio para a linha */
  position: absolute; /* Posiciona a linha absolutamente */
  top: 0; /* Alinha ao topo */
  bottom: 0; /* Alinha à base */
  right: 0; /* Alinha à direita */
  width: 1px; /* Largura da linha */
  background-color: #ccc; /* Cor da linha */
}

/* Estilo da imagem */
.main-content img {
  flex: 1; /* Ocupa a largura disponível na .main-content */
  width: 100%; /* Ajusta a largura da imagem para preencher seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo responsivo para telas pequenas */
@media (max-width: 768px) {
  .main {
    flex-direction: column; /* Empilha elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    max-width: 768px; /* Largura máxima do contêiner */
  }

  .main-content {
    flex-direction: column; /* Empilha .text-content e a imagem verticalmente */
    width: 100%; /* Ajusta a largura para 100% */
  }

  .text-content {
    padding: 0 16px; /* Ajusta o padding */
    width: 100%; /* Ocupa toda a largura disponível */
    text-align: justify; /* Justifica o texto */
  }

  .text-content h1 {
    font-size: 2.2rem; /* Ajusta o tamanho do título */
    line-height: 1; /* Ajusta a altura da linha */
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%; /* Ocupa toda a largura disponível */
    margin-top: 20px; /* Margem superior */
    margin-bottom: 5px; /* Margem inferior */
  }

  .text-content h2 {
    text-align: justify; /* Justifica o texto */
    margin-top: 5px; /* Margem superior */
    margin-bottom: 15px; /* Margem inferior */
  }

  .hero {
    width: 100%; /* Largura total do botão */
    padding: 16px; /* Ajusta o padding do botão */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    margin-bottom: 10px; /* Margem inferior */
  }

  .info-content {
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    width: 100%; /* Largura total */
    justify-content: space-between; /* Espaça os itens */
    gap: 10px; /* Espaçamento entre os itens */
  }

  .info-content .content-1,
  .info-content .content-2 {
    flex: 1 1 calc(50% - 10px); /* Ajusta a largura dos itens */
    padding: 10px; /* Ajusta o padding das divs */
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }

  .info-content .content-1 {
    border-right: 1px solid #ccc; /* Adiciona borda direita */
  }

  .info-content .content-3 {
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Margem superior */
    margin-left: 6rem; /* Margem esquerda */
    padding: 10px; /* Ajusta o padding da div */
  }

  .main-content img {
    width: 100%; /* Largura total da imagem */
    height: auto; /* Mantém a proporção da imagem */
  }
}
