@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


.main {
  width: 100%; 
  margin: 0 auto; 
  padding: 0; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.text-content {
  flex: 1;
  padding-right: 20px; 
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.text-wrapper {
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}

.text-wrapper h1 {
  font-family: "Integral CF", sans-serif; 
  font-size: 3.9rem; 
  line-height: 1.2;
  margin-bottom: 20px;
}

.text-wrapper h2 {
  font-size: 1rem; 
  line-height: 1.4; 
  margin-bottom: 20px;
  font-family: "Satoshi", sans-serif;
  color: #00000099;
  font-weight: 400;
}

.hero {
  font-size: 1rem;
  padding: 15px 30px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 12rem;
}

button:hover {
  transition: background-color 0.4s ease;
  background-color: #9da8b5;
}

.info-content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.info-content > div {
  padding: 15px;
  background-color: #f0f0f0;
  text-align: left; 
  position: relative;
}

.info-content h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 2.5rem; 
  font-weight: 700;
}

.info-content h3 {
  font-family: "Satoshi", sans-serif;
  font-weight: 400; 
  font-size: 0.9rem;
  color: #00000099;
}

.info-content > div:not(:last-child)::after {
  content: "";
  position: absolute; 
  top: 0; 
  bottom: 0; 
  right: 0;
  width: 1px;
  background-color: #ccc;
}

.main-content img {
  flex: 1;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  
  .main-content {
    flex-direction: column;
    width: 100%;
  }

  .text-content {
    padding: 0 16px;
    width: 100%;
    text-align: justify;
  }

  .text-content h1 {
    font-size: 2.2rem;
    line-height: 1;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .text-content h2 {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .hero {
    width: 100%;
    padding: 16px;
    box-sizing: border-box; 
    margin-bottom: 10px;
  }

  .info-content {
    flex-wrap: wrap; 
    width: 100%; 
    justify-content: space-between;
    gap: 10px;
  }

  .info-content .content-1,
  .info-content .content-2 {
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
  }

  .info-content .content-1 {
    border-right: 1px solid #ccc;
  }

  .info-content .content-3 {
    text-align: center; 
    margin-top: 10px; 
    margin-left: 6rem; 
    padding: 10px;
  }

  .main-content img {
    width: 100%; 
    height: auto;
  }
}
