@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


.promo-container {
  background-color: black; 
  width: 100%; 
  color: white; 
  text-decoration: none;
  padding: 10px 0;
}

.promo {
  max-width: 1440px; 
  margin: 0 auto; 
  padding: 0 6.5rem;
  box-sizing: border-box; 
  position: relative;
}

.promo-content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.promo-content h2 {
  font-family: "Satoshi";
  font-weight: 400; 
  margin: 0; 
  font-size: 1rem; 
  text-align: center; 
  flex: 1; 
  margin-right: 70px; 
}

.promo-content a {
  color: #ffffff; 
  text-decoration: underline;
}

.promo-content span {
  font-size: 1rem; 
  cursor: pointer;
  border-radius: 50%; 
  width: 30px; 
  height: 30px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: absolute; 
  right: 20px;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .promo {
      padding: 0 1rem; 
  }

  .promo-content {
      justify-content: center; 
  }

  .promo-content h2 {
      margin-right: 0; 
      font-size: 0.8rem;
  }

  .promo-content span {
      display: none;
  }
}
