@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* Estilos para a seção de inscrição */
.subscribe {
  background-color: #000000; 
  border-radius: 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  box-sizing: border-box; 
  position: relative; 
  margin-top: -100px; 
  z-index: 100; /* Garante que a seção esteja acima das outras */
}

.subscribe h1 {
  font-family: "Integral CF", sans-serif;
  font-size: 40px; 
  font-weight: 700;
  line-height: 45px; 
  text-align: left;
  padding: 30px;
  color: white;
  flex: 1; 
}

.subscribe-content {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  gap: 10px; 
  padding-right: 30px;
}

.subscribe input,
.subscribe button {
  width: 349px;
  height: 48px; 
  padding: 12px 16px; 
  border-radius: 24px;
  background-color: #FFFFFF; 
  border: 1px solid #CCCCCC; 
  margin: 5px 0; 
}

.subscribe input::placeholder {
  color: #999999; 
}

.subscribe button {
  border: none; 
  cursor: pointer; 
}
.subscribe button:hover{
  color: white;
  font-weight: bold;
  background-color: rgba(245, 251, 245, 0.719) ;
}

.subscribe input[type="text"] {
  background-image: url('../assets/icons/mail-icon.svg');
  background-size: 20px 20px; 
  background-repeat: no-repeat; 
  background-position: 12px center; 
  padding-left: 40px;
}

.validation {
  align-self: center;
  color: rgb(231, 33, 33);
  font-weight: bolder;
}

.validation.ok{
  color: rgb(18, 206, 18);
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .subscribe {
    flex-direction: column; /* Empilha título e conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Ajusta o padding */
    margin-top: -145px; /* Ajusta a margem superior para sobreposição */
    width: 430px;
  }

  .subscribe h1 {
    font-size: 2rem; /* Reduz o tamanho da fonte */
    line-height: 30px; /* Ajusta a altura da linha */
    text-align: center; /* Centraliza o texto */
    padding: 0 0 20px 0; /* Remove o padding lateral e adiciona padding inferior */
    margin: 0; /* Remove a margem */
  }

  .subscribe-content {
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 5px; /* Reduz o espaço entre input e botão */
    width: 80%; /* Ocupa toda a largura disponível */
    padding-right: 0; /* Remove o padding direito */
  }

  .subscribe input,
  .subscribe button {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 349px; /* Define uma largura máxima */
  }
}
