.subscribe {
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; /* Torna o posicionamento relativo à sua posição original */
  margin-top: -100px; /* Move a seção para cima para que ela fique sobre a seção de depoimentos */
  z-index: 100; /* Garante que a .subscribe fique acima das outras seções */
}

  .subscribe h1 {
    font-family: "Integral CF", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    padding: 30px;
    color: white;
    flex: 1;
  }
  
  .subscribe-content {
    display: flex;
    flex-direction: column; /* Mantém input e botão um abaixo do outro */
    align-items: flex-end; /* Alinha a div ao canto direito */
    gap: 10px; 
    padding-right: 30px;
  }
  
  .subscribe input,
  .subscribe button {
    width: 349px;
    height: 48px;
    padding: 12px 16px;
    border-radius: 24px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 5px 0; /* Espaçamento vertical */
  }
  
  .subscribe input::placeholder {
    color: #999999;
  }
  
  .subscribe button {
    border: none;
    cursor: pointer;
  }
  
  .subscribe input[type="text"] {
    background-image: url('/assets/icons/mail-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 40px;
  }


  /* Estilos para telas menores que 768px */
  @media (max-width: 768px) {
    .subscribe {
      flex-direction: column; /* Empilha o título e o conteúdo verticalmente */
      align-items: center; /* Centraliza o conteúdo horizontalmente */
      padding: 20px; /* Ajusta o padding para melhor adequação em telas menores */
      margin-top: -50px; /* Ajusta a margem superior para que a seção ainda sobreponha as outras */
    }
  
    .subscribe h1 {
      font-size: 2rem; /* Reduz o tamanho da fonte para dispositivos móveis */
      line-height: 30px; /* Ajusta o espaçamento entre linhas */
      text-align: center; /* Centraliza o texto */
      padding: 0 0 20px 0; /* Remove o padding lateral e adiciona padding inferior */
      margin: 0; /* Remove o margin para ajustar o espaço */
    }
  
    .subscribe-content {
      display: flex;
      flex-direction: column; /* Mantém input e botão um abaixo do outro */
      align-items: center; /* Centraliza os itens */
      gap: 5px; /* Espaço entre o campo de entrada e o botão */
      width: 100%; /* Ocupa a largura total disponível */
      padding-right: 0; /* Remove o padding direito */
    }
  
    .subscribe input,
    .subscribe button {
      width: 100%; /* Faz com que os itens ocupem toda a largura disponível */
      max-width: 349px; /* Define uma largura máxima para não ficar muito grande */
    }
  }