@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


.testimonials-container  {
  width: 100%;
  background-color: white; 
  padding-top: 50px;
  padding-bottom: 150px; 
  position: relative;
}

.testimonials {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 10px 0 60px; 
  box-sizing: border-box; 
  text-align: left; 
  position: relative;
  display: flex;
  flex-direction: column; 
}

.testimonials-title {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}

.testimonials h1 {
  font-family: "Integral CF", sans-serif;
  font-size: 2.2rem; 
  line-height: 1.2;
  margin: 0; 
  font-weight: 700;
}

.testimonials-icons {
  display: flex; 
  gap: 10px; 
}

.carousel {
  display: flex; 
  justify-content: space-between; 
  overflow: hidden;
  position: relative;
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box;
  margin-top: 20px; 
  gap: 10px; 
  overflow-x: auto; 
  overflow-y: hidden;
  scroll-behavior: smooth; 
}

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  width: 40px;
  height: 40px; 
}

.carousel-control:hover{
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.cartao:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cartao {
  flex: 0 0 30%;
  height: 210px;
  box-sizing: border-box; 
  padding: 20px;
  text-align: left; 
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 5px;
  font-family: "Satoshi", sans-serif; 
}


.cartao .stars {
  font-size: 24px; 
  color: gold; 
  display: block;
  margin-bottom: 10px;
}

.cartao .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.cartao .message {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 300;
  color: #00000099; 
  text-align: left; 
}

.cartao h2 img {
  vertical-align: middle;
}

@media (max-width: 768px) {

  .testimonials-container {
    padding-bottom: 150px;
  }

  .testimonials {
    padding: 10px 20px;
  }

  .testimonials h1 {
    font-size: 1.8rem;
  }

  .testimonials-icons {
    position: static;
    display: flex; 
    gap: 10px;
    margin-top: 2.8rem;
  }

  .carousel {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden; 
    width: 100%;
    margin-top: 20px;
  }

  .cartao {
    width: 430px;
    display: block;
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
}