@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("../assets/fonts/Fontspring-DEMO-integralcf-bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


.top-selling {
  width: 100%;
  background-color: white;
  padding: 40px;
  text-align: center; 
}


.top-selling h1 {
  font-family: "Integral CF";
  font-size: 2.5rem;
  margin-bottom: 40px;
}


.cards-container {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0;
  box-sizing: border-box; 
  gap: 20px; 
}

.card {
  width: 220px;
  padding: 20px;
  margin: 0; 
}

.card-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #f2f0f1; 
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover; 
}

.card-content {
  text-align: left;
  font-family: "Satoshi";
  padding: 0; 
  margin: 0; 
}

.product-name {
  font-size: 0.7rem;
  margin-bottom: 5px;
  font-weight: bold; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.stars {
  color: #ffb400;
  font-size: 1rem;
}

.rating-number {
  margin-left: 5px;
  font-size: 0.9rem;
  color: #666;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 5px; 
}

.current-price {
  color: #333;
}

.old-price {
  color: #999;
  text-decoration: line-through;
}

.discount {
  background-color: #f2f0f1;
  color: red;
  padding: 5px 10px;
  border-radius: 20px; 
  text-decoration: none;
  font-size: 0.5rem;
}

.top-selling button {
  width: 10%;
  background-color: white; 
  border: 1px solid #ccc; 
  border-radius: 30px;
  padding: 10px 20px; 
  font-size: 1rem; 
  color: black; 
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  font-family: "Satoshi";
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: #9da8b5;
}

@media (max-width: 768px) {
  .top-selling button {
    width: 100%; 
    margin-top: 20px; 
  }
}