/* Estilo do header */
.header {
    width: 100%;
    background-color: white;
  }
  
  .header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
  }
  
  /* Estilo do nav */
  nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo para o logo */
  .logo {
    font-family: "Integral CF";
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-left: 0;
  }
  
  /* Adicionando hover no menu-toggle */
  
  /* Estilo para links de navegação */
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: "Satoshi";
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
  }
  
  ul li a span img {
  vertical-align: middle;}
  
  .nav-links a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Estilo dos ícones e links */
  .img-nav a,
  .modal-nav-links a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Efeito de hover no background dos ícones e texto */
  .img-nav a:hover,
  .nav-links a:hover,
  .modal-nav-links a:hover {
    background-color: #f0f0f0;
  }
  
  
  /* Estilo para o input de pesquisa */
  input {
    width: 500px;
    height: 48px;
    border-radius: 62px;
    padding: 12px 16px;
    margin-right: 30px;
    border: 1px solid #ccc;
    background: url("https://cdn-icons-png.flaticon.com/512/54/54481.png") no-repeat 10px center;
    background-size: 20px 20px;
    background-color: #f2f0f1;
  }
  
  .img-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .img-nav a {
    margin-right: 10px;
  }
  
  /* Estilo do modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: left; /* Alinha o conteúdo à esquerda */
  }
  
  .modal-nav-links {
    list-style: none;
    padding: 0;
  }
  
  .modal-nav-links li {
    margin: 10px 0;
  }
  
  .modal-nav-links a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .modal-nav-links a img {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
  }
  
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .menu-toggle {
    display: none; /* Inicialmente oculto */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  #hidden{
    display: none;
  }
  /* Estilo responsivo para telas pequenas */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Oculta os links de navegação em telas pequenas */
    }
  
    #input-header {
      display: none; /* Oculta o input de pesquisa em telas pequenas */
    }
  
    .menu-toggle{
      display: block; /* Mostra o menu-toggle e search-toggle em telas pequenas */
    }
  
    #hidden{
      display: flex; /* Mostra o menu-toggle e search-toggle em telas pequenas */
      vertical-align: middle
    }
    
    .menu-toggle:hover {
      background-color: #f0f0f0;
    }
    
    /* Alinhamento do search-toggle ao lado dos ícones da img-nav */
    .img-nav {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 5px; /* Diminui o espaçamento entre os ícones */
    }
  
    .img-nav a {
      margin-right: 5px; /* Diminui o espaço adicional dos ícones */
    }
  }